* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 24px 64px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#click-container {
  display: flex;
  align-items: center;
}

#info {
  padding: 8px 12px;
  background: rgb(72, 172, 172);
  margin-left: 12px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all linear 0.05s;
}

#info:active {
  background: rgb(22, 161, 161);
  transform: scale(97%);
}

.info-item {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding: 8px;
}
