* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: rgb(255, 141, 3);
}

body {
  background: rgb(255, 219, 151);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player {
  width: 100%;
  max-width: 800px;
  position: relative;
}

#video-one {
  display: block;
  width: 100%;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(31, 31, 31);
  opacity: 0.8;
}

#progress-bar {
  width: 0%;
  height: 8px;
  background: var(--orange-color);
  transition: all 0.3s;
}

.video-buttons {
  display: none;
  padding: 12px;
}

.fa-solid {
  color: rgb(210, 210, 210);
  font-size: 1.2rem;
}

.fa-solid:hover {
  color: var(--orange-color);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 8px;
  margin-left: 25px;
  border-radius: 5px;
  background: rgb(210, 210, 210);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--orange-color);
}

.skip-ahead {
  margin-left: 24px;
}
