* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: rgb(253, 214, 140);
}

body {
  background-color: rgb(253, 214, 140);
  background: linear-gradient(
    rgba(252, 181, 74, 0.8),
    rgb(253, 214, 140),
    rgb(235, 157, 150)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-player {
  width: 100%;
  max-width: 800px;
  border: 3px solid var(--background-color);
  position: relative;
  overflow: hidden;
}

.viewer {
  display: block;
  width: 100%;
}

.video-controls {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  /* move iy 100% out of the way except for the 8px of progress bar*/
  /* transform: translateY(100%) translateY(-8px); */
  transition: all 0.5s;
}

.video-player:hover .video-controls {
  transform: translateY(0);
}

.video-player:hover .progress {
  height: 16px;
}

.video-controls > * {
  flex: 1;
}

.progress-bar {
  flex: 10;
  flex-basis: 100%;
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0.75);
}

.progress {
  width: 50%;
  background: orange;
  height: 8px;
  transition: all 0.5s;
}

.player-button {
  border: none;
  color: rgb(202, 202, 202);
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.player-button:hover {
  color: orange;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  flex-basis: 150px;
  margin: 0 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
