* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: rgb(255, 141, 3);
  --page-background: rgb(255, 219, 151);
}

body {
  background: var(--page-background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player {
  width: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}

video {
  display: block;
  width: 100%;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(31, 31, 31);
  opacity: 0.8;
  transform: translateY(44px);
  transition: all 0.5s;
}

.video-controls:hover {
  transform: translateY(0px);
}

.progress {
  width: 50%;
  height: 12px;
  background: var(--orange-color);
}

.video-buttons {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-around;
}

.fa-solid {
  color: rgb(224, 224, 224);
  font-size: 1.2rem;
}

.fa-solid:hover {
  color: var(--orange-color);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 8px;
  border-radius: 5px;
  background: rgb(210, 210, 210);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--orange-color);
}
