@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
}

#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  flex: 1;
  transition: all 0.5s ease;
  background-size: cover;
  background-position: center;
}

#lets {
  background-image: url("../images/cold_nature.jpg");
}

#take {
  background-image: url("../images/valley_nature.jpg");
}

#it {
  background-image: url("../images/green_nature.jpg");
}

#all {
  background-image: url("../images/sand_nature.jpg");
}

#in {
  background-image: url("../images/space_nature.jpg");
}

.hidden {
  display: none;
}

@media screen and (max-width: 900px) {
  #container {
    flex-direction: column;
  }

  .item {
    min-height: 0;
  }
}
