:root {
  --text-color: rgb(255, 255, 255);
  --page-background: rgb(16, 31, 57);
  --img-blur: 0px;
  --base-pick: #000000;
  --spacing-amnt: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 74px;
  background: var(--page-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#js-txt {
  color: var(--base-pick);
}

#site-header {
  color: var(--text-color);
  font-size: 3.5rem;
  margin-bottom: 24px;
  text-align: center;
}

.img-setting {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.slider {
  width: 100%;
  max-width: 116px;
  margin-top: 12px;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  border-radius: 25px;
  background: rgb(214, 214, 214);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: opacity 0.3s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(255, 255, 255);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
}

#base-picker {
  margin-top: 12px;
  width: 100%;
  max-width: 64px;
  cursor: pointer;
}

#img {
  width: 100%;
  max-width: 500px;
}

#img > img {
  width: 100%;
  object-fit: cover;
  filter: blur(var(--img-blur));
  border: var(--spacing-amnt) solid var(--base-pick);
}
