* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 5px;
  background: grey;
  border: none;
  border-radius: 50px;
  opacity: 0.65;
}
