@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: rgb(0, 0, 0); */
}

.clock-body {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 6px solid black;
  background-image: url("../imgs/clock_two.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: rgb(61, 255, 2); */
  z-index: -2;
  border-radius: 50%;
  margin-bottom: 24px;
}

#clock-center {
  width: 4px;
  height: 4px;
  background-color: orange;
  justify-self: center;
  align-self: center;
  position: relative;
}

.hands {
  position: absolute;
  transform-origin: bottom center;
  bottom: 50%;
}

#hrs {
  width: 4px;
  height: 70px;
  background: rgb(16, 100, 255);
  z-index: 0;
}

#sec {
  width: 4px;
  height: 140px;
  background: red;
  z-index: -1;
}

#min {
  width: 4px;
  height: 140px;
  background: rgb(0, 0, 0);
}

#demo {
  color: black;
  font-size: 1.2rem;
  text-align: center;
}
