* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 211, 99);
}

form {
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.choice {
  width: 100%;
}
